.system_message,
.user_message,
.assistant_message,
.tool_message {
    margin: 0 10rem 0 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.assistant_options_dialog {
    padding: 1rem;
}