.system_message,
.user_message,
.assistant_message,
.tool_message {
    margin: 0 1rem 0 1rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button {
    transition-duration: 0.4s;
    border-radius: 10px;
}