#logo {
    animation-name: breathing;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes breathing {
    0% {
        -gtk-icon-transform: scale(0.9);
    }

    25% {
        -gtk-icon-transform: scale(1);
    }

    60% {
        -gtk-icon-transform: scale(0.9);
    }

    100% {
        -gtk-icon-transform: scale(0.9);
    }
}

.system_message,
.user_message,
.assistant_message,
.tool_message {
    padding: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.thread_list_item {
    padding: 0.5rem;
    border-radius: 10px;
}

.button {
    transition-duration: 0.4s;
    border-radius: 10px;
}